@using System.Security.Principal  
@using System.Security.Claims  

<ul>  
    @if (User.Identity?.IsAuthenticated == true)  
    {  
        var displayName = (User.Identity as ClaimsIdentity)?.FindFirst("name")?.Value ?? User.Identity?.Name;  
        <li>  
            <span>Hello @displayName!</span>  
        </li>  
        <li>  
            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>  
        </li>  
    }  
    else  
    {  
        <li>  
            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>  
        </li>  
    }  
</ul>